
.body{
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:90%;
    background-color:black;
}
.maindiv{
    background-color:black;
    width:1024px;
    height:auto;
    margin:auto;
}
.headsec{
    width:1024;
    height:250px;
    background-color:blue;
    float:left;
    margin:auto;
}
.footsec{
    width:1024;
    height:100px;
    background-color:brown;
    float:left;
    margin:auto;
}
.mainpan{
    
    width:1024px;
    height:900px;
    float:left;
    margin:auto;
}
.index{
    background-color:white;
    width:212;
    height:900px;
    float:left;
    margin:auto;
    }
.mainpan1{
    width:600px;
    height:900px;
    float:left;
    margin:auto;
}
.prebody{
    
    width:600px;
    height:100px;
    float:left;
    margin:auto;
}
.consec{
    background-color:white;
    width:600px;
    height:700px;
    float:left;
    margin:auto;
   
}
.menubar{
    text-shadow: goldenrod;
    text-align: center;
    color:white;
    text-decoration: none;
    width:100px;
    height:25px;
    background-color:navy;
    float:left;
    

}
.sgin{
    width:90px;
    height:25px;
    background-color:darkred;
    color:white;
    float:right;
    border:2px;
    border-color:black;
    border-style:solid;
    border-radius:10px;
    text-align: center;
    text-shadow:darkgrey;
    text-align:center;

}
.sginup{
   
    width:90px;
    height:25px;
    background-color:green;
    color:white;
    float:right;
    border:2px;
    border-color:black;
    border-style:solid;
    border-radius:10px;
    text-align: center;
    text-shadow:darkgrey;
    text-align:center;
    }
    a:link {
        color: white;
         text-decoration: none;
         background-color: transparent;
     }
     a:visited{
         color:white;
         text-decoration: none;
         background-color: orangered;
     }
     a:hover{
         color:slategrey;
         background-color:lightsteelblue;
     }
     a:active{
         color:blue;
         text-decoration: none;
     }
    .contact{ 
        color:blue;
        text-align: center;
        text-shadow: aqua;
        text-size-adjust: 30px;
    }