a:link {
    color: white;
     text-decoration: none;
     background-color: transparent;
 }
 a:visited{
     color:white;
     text-decoration: none;
     background-color: orangered;
 }
 a:hover{
     color:slategrey;
     background-color:lightsalmon;
 }
 a:active{
     color:blue;
     text-decoration: none;
 }