table{
    margin:auto;
    background-color:white;
}
body{
background-image: url("GettyImages-843466180.png");
image-resolution:auto;
background-repeat: no-repeat;
background-position:center;
background-position: top;
background-size: 1800px;
background-attachment: fixed;
}
.sgin {
    font-size: 20px;
    font-family:Cooper,Black;
    font-style: bold;
    color:red;
    background-color:black;
    padding:10px;
    margin-left:300px;
}
.sginup{
    font-size: 20px;
    font-family: Cooper,Black;
    font-style: bold;
    color:white;
    background-color:black;
    padding:10px;
    }
.home{
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
    text-align: center;
    color: white;
    
    padding:7px;
    
}   
.books{
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
    text-align: center;
    color: white;
        padding:7px;
}
.about{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
    text-align: center;
    color: white;
    
    padding:7px;
}
.contact{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
    text-align: center;
    color: white;
    
    padding:7px;
}
.menubar{
    background-color:black;
}
